/*TODO: Create unique font sizes, styles, typefaces, etc to persists across the page to add interesting aesthetics.  */

h1 {
  font-family: 'Share Tech', sans-serif;
  /*font-size: 30px;*/
  margin-top: 0;
}

.project-picture img {
  width: 400px;
  height: 280px;
}

h2{
  font-family: 'Share Tech', sans-serif;
  font-size: 35px;
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: solid 3px grey;
}

a {
  text-decoration: none;
}
