body {
  background: linear-gradient( 90deg, gold, orange, white);
}

.logo-and-name {
  float: left;
}

.logo-and-name img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  float: left;
}

.logo-and-name h1 {
  font-size: 35px;
  margin-bottom: 0;
  margin-top: 0;
  float: right;
  /*background-color: gold;*/
}

.logo-and-name h2 {
  font-size: 17px;
  font-family: cursive;
  clear: right;
  border: none;
}

.icon-menu {
  font-size: 40px;
  margin: 0px;
  float: right;
}

.main-nav li {
  margin-right: .4rem;
  font-size: 1.5rem;
  margin-top: 6px;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  text-decoration: none;
}

.main-nav ul li a {
  color: black;
  text-decoration: none;
}

#projects h1 {
  font-size: 25px;
}

#testimonials h1{
  font-size: 25px;
}

.days-ago {
  font-size: 10px;
  font-style: italic;
}

h1.project-title {
  margin-bottom: 2px;
}

p.sub-heading {
  font-style: italic;
  margin: 0 0 0 15px;
  color: brown;
}

.copyright {
  border-top: 1px black solid;
}

.copyright p {
  font-size: 11px;
  font-style: italic;
}

.see-more {
  margin-top: 0;
  color: grey;
  font-size: 20px;
}
.see-less {
  color: grey;
  font-size: 20px;
}

.template {
  display: none;
}

.testimonial-template {
  display: none;
}

#testimonials {
  text-align: center;
}

#testimonials img {
  height: 30px;
  width: 30px;
  justify-content: center;
}

#projects {
  border-top: 4px solid black;
}

#testimonials {
  border-top: 4px solid black;
}
.footer-about-blurb {
  border-top: black 4px solid;
  padding: 10px;
}

.footer-about-blurb img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 8px;
}

.footer-social-media li{
  display: inline;
  list-style: none;
  font-size: 40px;
  color: brown;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {

  .main-nav:hover ul {
    display: block;
  }
}

@media only screen and (min-width: 400px) {

  .icon-menu {
    display: none;
    color: black;
  }

  .main-nav ul {
    display: flex;
    padding-left:
    color: black;
    width: 100%;
    justify-content: space-around;
  }

  .main-nav ul li a{
    color: black;
  }

  .main-nav ul li {
    list-style: none;
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 769px) {

  .icon-menu {
    display: none;
    color: black;
  }
  .main-nav ul {
    justify-content: space-around;
    color: black;
    /*width: 100%;*/
  }

  .main-nav ul li a{
    color: black;
  }

  .main-nav ul li {
    /*border-bottom: 1px solid #000;*/
    list-style: none;
    font-size: 25px;
    padding-left: 15px;
    /*padding-bottom: 0;*/
    /*margin-bottom: -10px;*/
  }
}
